<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722889361340-ncl4dfuba63ifosnq57mj9regg7cqv33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722889361340-ncl4dfuba63ifosnq57mj9regg7cqv33</string>
	<key>API_KEY</key>
	<string>AIzaSyCPxWi4kB0R7K0jpBMbHBNUCvfvPWIo7xo</string>
	<key>GCM_SENDER_ID</key>
	<string>722889361340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>newnew-1a703</string>
	<key>STORAGE_BUCKET</key>
	<string>newnew-1a703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722889361340:ios:d320f7a678c7d4feb68db9</string>
	<key>DATABASE_URL</key>
	<string>https://newnew-1a703-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>